doctype html
html(lang=en)
    head
        title The Useless Github app
    body
        a(href='https://github.com/login/oauth/authorize?client_id=#{client_id}&scope=#{scope}') Connect to you github account
